body {
  /*font-family: font-family: 'Dosis', sans-serif;*/
  font-family: 'Coming Soon', cursive;
  font-size: 15px;
}

h1 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  margin: 50px;
}

h4 {
  margin-top: 50px;
}
